@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

html {
    font-family: "Doto", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
}

header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

header h1 {
    margin: 0;
    transform: rotate(-90deg);
}

main {
    width: 100%;
    margin: 0 auto;
    border-style: none solid;
    border-width: 1px;
    border-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

canvas {
    border: 1px solid white;
}

section {
	display: flex;
	gap: 10px;
    width: 100%;
}

button, select, select:after, input {
    font-family: inherit;
    font-weight: 1000;
    background: #111111;
    border: 1px solid white;
    font-size: 1em;
    padding: 5px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#info span {
	font-size: 36px;
	color: white;
}

section#main-btn, section#info {
	display: flex;
	justify-content: space-evenly;
}
