html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
}

main {
    width: 1000px;
    margin: 0 auto;
    border-style: none solid;
    border-width: 1px;
    border-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 1px solid white;
}
